@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=STIX+Two+Text");
@import url("https://fonts.googleapis.com/css?family=Baskervville");
@import url("https://fonts.googleapis.com/css?family=Bellefair");
@import url("https://fonts.googleapis.com/css?family=Poppins");

@layer base {
  @font-face {
    font-family: "Clash Display";
    font-weight: 700;
    src: url("../src/font/ClashDisplay-Bold.ttf") format("ttf");
  }
  @font-face {
    font-family: "Satoshi";
    font-weight: 400;
    src: url("../src/font/Satoshi-Regular.ttf") format("ttf");
  }
  @font-face {
    font-family: "Satoshi";
    font-weight: 400;
    font-style: regular;
    src: url(../src/font/ClashDisplay-Bold.ttf) format("ttf");
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
